*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::selection{
    background-color: #555;
    color: #ddd;
}

:root{
    --color-black: #111;
    --color-black-gradient:#01080e;
    --color-grey-bright: #888;
    --color-grey-dark: #444;
    --color-grey-light: #666;
}

ol, ul{
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

a:hover{
    color: var(--color-black-gradient);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
}

.hero{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    background-image: url(../Images/robo.jpg);
}

.hero-header{
    width: 100%;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--color-grey-dark);
    height: 70px;
}

.hero-menu{
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 35px;
}

.hero-text{
    padding-top: 150px;
    padding-left: 60px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero-text h2{
    font-family: "Playfair Display", serif;
    color: #fff;
    font-size: 42px;
}

.hero-text p{
    width: 80%;
    margin-left: 10px;
    font-family: "Playfair Display", serif;
    color: #fff;
    font-size: 18px;
}

.info{
    font-family: "Raleway", sans-serif;
    margin: 25px 100px;
    padding: 10px 20px;
    width: 35%;
    border: var(--color-black-gradient) 1px solid;
    background-color: var(--color-black-gradient);
    border-radius: 7px;
    text-align: center;
    transition: .8s;
}

.info p{
    color: var(--color-grey-light);
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
}

.info:hover {
    background-color: transparent;
    scale: 1.05;
}

.container{
    height: 100vh;
    padding: 70px 30px;
}

.box{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 80px;
    height: auto;  
    width: 700px;
    border: #000 solid 1px;
    border-radius: 7px;
}

.box-inner{
    background: linear-gradient(var(--color-grey-light),var(--color-black-gradient));
    border-radius: 7px;
    padding: 10px;
    border-radius: 7px;
    width: 75%;
    margin: 20px;
    height: auto;
    position: relative;
    overflow: visible;
    transition: .5s;
}

.box-inner:hover{
    scale: 1.05;
}