* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::selection {
    background-color: #555;
    color: #E9ECEF;
}

:root {
    --color-grey-dark: #444;
    --color-blue: #6C757D;
    --color-blue: #6C757D;
    --background-color-orange: #FF8C42;
    --background-color-orange-alfa: rgba(255, 138, 66, 0.3);
    --color-light: #ddd;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #666;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 6vmin;
    color: var(--color-blue);
}

h2{
    font-size: 5.5vmin;
}

p {
    font-size: 2.4vmin;
    line-height: 1.6;
    text-wrap: balance;
}

ol,
ul {
    list-style: none;
}

a {
    color: var(--color-blue);
    text-decoration: none;
    font-size: 2.4vmin;
    font-weight: 700;
    transition: .5s;
}

a:hover {
    color: var(--color-light);
}

.header {
    width: 100%;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--color-grey-dark);
    height: 10vh;
    z-index: 1;
}

.header ul {
    display: flex;
    font-size: 2.4vmin;
    gap: 50px;
}

.hero{
    height: 50vh;
    background: linear-gradient(#0d1b2a,#1565c0);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hero h2{
    margin-top: 10vh;
}

.hero p{
    margin-top: 1vh;
    width: 50%;
}

.container {
    display: flex;
    min-height: 100vh;
}

.images{
    width: 35%;
    border-radius: 10px;
    margin: 15vh 5vw;
    transition: .5s;
    opacity: .7;
    box-shadow: var(--color-light) 0 0 15px;
}

.images:hover{
    opacity: 1;
}

.robo-text {
    padding-left: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  var(--color-light);
}

.robo-text h2 {
    align-content: flex-start;
    margin-bottom: 1vh;
}

.robo-text p {
    width: 80%;
    text-align: justify;
}

.info {
    font-family: "Raleway", sans-serif;
    margin-top: 3vh;
    padding: 1vh 1vw;
    min-width: 20vw;
    background-color: var(--background-color-orange);
    border: transparent;
    border-radius: 7px;
    transition: .8s;
}

.info:hover {
    background-color: var(--background-color-orange-alfa);
    border: var(--color-grey-dark) 1px solid;
    scale: 1.05;
}

.info p {
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    width: 50%;
    border-radius: 7px;
    gap: 3vh;
    color:  var(--color-light);
}

.box h2 {
    text-align: center;
    text-wrap: balance;
    margin: 4vh 3vw;
}

.box-content {
    background-color: var(--background-color-orange);
    border: 2px solid transparent;
    text-align: justify;
    padding: 10px;
    border-radius: 7px;
    width: 80%;
    transition: .5s;
}

.box-content:hover {
    scale: 1.05;
    background-color: var(--background-color-orange-alfa);
    border: 2px solid var(--color-grey-dark);
}

.box-content h3 {
    text-align: center;
    font-size: 3vmin;
    margin-bottom: 10px;
}

.galeria{
    margin: 0 auto;
    padding: 10vh 0;
    color: var(--color-light);
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.galeria h2{
    margin-top: 1vh;
    text-align: center;
}

.galeria-img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3vh 0;
    gap: 5vh;
}

.galeria-items{
    text-align: center;
    width: 40%;
    padding: 10px;
}

.galeria-items img{
    width: 80%;
    border-radius: 15px;
    box-shadow: var(--color-light) 0 0 10px;
}

.galeria-items p{
    margin-top: 1vh;
}

.footer{
    min-height: 10vh;
    padding-inline: 30px;
    background-color: var(--color-grey-dark);
    color: var(--color-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p{
    font-size: 1vmin;
    margin-top: -7px;
    margin-left: 5px;
}

.footer ul {
    display: flex;
    gap: 50px;
}