* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::selection {
    background-color: #555;
    color: #ddd;
}

:root {
    --color-black: #111;
    --color-black-gradient: #01080e;
    --color-grey-bright: #888;
    --color-grey-dark: #444;
    --color-grey-light: #666;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
}

h1 {
    color: #fff;
}

h1:hover {
    cursor: pointer;
}

ol,
ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: .5s;
}

a:hover {
    color: var(--color-black-gradient);
}

.container {
    height: 100vh;
}

.hero-header {
    width: 100%;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--color-grey-dark);
    height: 10vh;
    z-index: 1;
}

.hero-menu {
    display: flex;
    font-size: 32x;
    gap: 50px;
}

.background {
    display: flex;
    background-color: #333;
    width: auto;
    height: 100vh;
}

.background img {
    height: 80%;
    width: 40%;
    border-radius: 10px;
    margin: 15vh 5vh;
    transition: .5s;
    opacity: .5;
}

.background img:hover {
    opacity: 1.1;
}

.hero-text {
    padding-top: 20vh;
    padding-left: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h2 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 6vmin;
}

.hero-text p {
    width: 80%;
    text-align: justify;
    color: #fff;
    font-size: 2.4vmin;
}

.info {
    font-family: "Raleway", sans-serif;
    margin: 5vh 15vh;
    padding: 10px 20px;
    width: 31vh;
    border: var(--color-black-gradient) 1px solid;
    background-color: var(--color-black-gradient);
    border-radius: 7px;
    transition: .8s;
}

.info p {
    color: var(--color-grey-light);
    font-size: 2.4vmin;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.info:hover {
    background-color: transparent;
    scale: 1.05;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    height: auto;
    width: 50%;
    border-radius: 7px;
    gap: 20px;
}

.box h2 {
    color: #fff;
    font-size: 6vmin;
    text-align: center;
    text-wrap: balance;
    margin: 70px 30px;
}

.box-content {
    background-color: var(--color-grey-light);
    border: 2px solid transparent;
    color: #fff;
    text-align: justify;
    padding: 10px;
    border-radius: 7px;
    width: 80%;
    transition: .5s;
}

.box-content h3 {
    font-size: 3vmin;
    margin-bottom: 10px;
}

.box-content p{
    font-size: 2.4vmin;
}

.box-content:hover {
    scale: 1.05;
    background-color: transparent;
    border: 2px solid var(--color-grey-dark)
}

.galeria{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    border: 1px solid #fff;
    margin: 15vh 10vh;
    padding: 5vh 5vw;
    color: #fff;
}

.galeria h2{
    font-size: 40px;
}